---
import { Elm } from '../public/elm/ExclusiveAccessCard.elm.js';
---
<link rel="stylesheet" href="/styles/exclusive-access-card.css">

<div id="exclusive-access-card"></div>

<script type="module">
  Elm.ExclusiveAccessCard.init({ node: document.getElementById('exclusive-access-card') });
</script>
